$primaryColor: white;
$secondaryColor: #fafafa;
$borderColor: #dbdbdb;
$instagram-font: "Grand Hotel", cursive;
$border: 1px solid $borderColor;
$avatarBackgroundColor: #87d068;
$avatarFontColor: #f56a00;
